# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# tambahan (rifky)
# ----------------------------------------------------------------------------
# LARAVEL SPECIFIC
# ----------------------------------------------------------------------------
/backend/.env
/backend/.env.backup
/backend/vendor/
/backend/node_modules/
/backend/public/storage
/backend/storage/*.key
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/bootstrap/cache/*

# ----------------------------------------------------------------------------
# FLUTTER SPECIFIC
# ----------------------------------------------------------------------------
/mobile/.dart_tool/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/.packages
/mobile/.pub-cache/
/mobile/.pub/
/mobile/build/
/mobile/ios/.generated/
/mobile/ios/Flutter/Ephemeral/
/mobile/ios/Flutter/Generated.xcconfig
/mobile/ios/Flutter/flutter_export_environment.sh
/mobile/ios/ServiceDefinitions.json
/mobile/ios/Pods/
/mobile/android/local.properties
/mobile/android/key.properties
/mobile/android/*.keystore
/mobile/android/*.jks

# ----------------------------------------------------------------------------
# GENERAL / IDE
# ----------------------------------------------------------------------------
.DS_Store
.idea/
.vscode/
*.swp
*.lock
Flutter/build/8730b13ca0249799964d0a71255a8f3b.cache.dill.track.dill
Flutter/build/cad8bc574173e3b82967335f8b934dcc/.filecache
Flutter/build/cad8bc574173e3b82967335f8b934dcc/_composite.stamp
Flutter/build/cad8bc574173e3b82967335f8b934dcc/dart_build.d
Flutter/build/cad8bc574173e3b82967335f8b934dcc/dart_build.stamp
Flutter/build/cad8bc574173e3b82967335f8b934dcc/dart_build_result.json
Flutter/build/cad8bc574173e3b82967335f8b934dcc/gen_dart_plugin_registrant.stamp
Flutter/build/cad8bc574173e3b82967335f8b934dcc/gen_localizations.stamp
Flutter/build/cad8bc574173e3b82967335f8b934dcc/outputs.json
Flutter/build/flutter_assets/AssetManifest.bin
Flutter/build/flutter_assets/AssetManifest.bin.json
Flutter/build/flutter_assets/FontManifest.json
Flutter/build/flutter_assets/fonts/MaterialIcons-Regular.otf
Flutter/build/flutter_assets/NOTICES
Flutter/build/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
Flutter/build/flutter_assets/shaders/ink_sparkle.frag
Flutter/build/flutter_assets/shaders/stretch_effect.frag
Flutter/build/native_hooks/.last_build_id
Flutter/build/reports/problems/problems-report.html
