# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# tambahan (rifky)
# ----------------------------------------------------------------------------
# LARAVEL SPECIFIC
# ----------------------------------------------------------------------------
/Laravel/.env
/Laravel/.env.backup
/Laravel/vendor/
/Laravel/node_modules/
/Laravel/public/storage
/Laravel/storage/*.key
/Laravel/storage/framework/cache/data/*
/Laravel/storage/framework/sessions/*
/Laravel/storage/framework/views/*
/Laravel/storage/logs/*
/Laravel/bootstrap/cache/*

# ----------------------------------------------------------------------------
# FLUTTER SPECIFIC
# ----------------------------------------------------------------------------
/Flutter/.dart_tool/
/Flutter/.flutter-plugins
/Flutter/.flutter-plugins-dependencies
/Flutter/.packages
/Flutter/.pub-cache/
/Flutter/.pub/
/Flutter/build/
/Flutter/ios/.generated/
/Flutter/ios/Flutter/Ephemeral/
/Flutter/ios/Flutter/Generated.xcconfig
/Flutter/ios/Flutter/flutter_export_environment.sh
/Flutter/ios/ServiceDefinitions.json
/Flutter/ios/Pods/
/Flutter/android/local.properties
/Flutter/android/key.properties
/Flutter/android/*.keystore
/Flutter/android/*.jks
/Flutter/build/*.cache.dill.track.dill
/Flutter/build/*.dill

# ----------------------------------------------------------------------------
# GENERAL / IDE
# ----------------------------------------------------------------------------
.DS_Store
.idea/
.vscode/
*.swp
*.lock